{% extends "login_layout.html" %}


{% block content %}
        <!--<h1>Log in</h1>-->
        
    <div class="first_buttons">
            <!--<form action="/login", method="">
                <input type="submit" name ="sign_in"  value="sign in">
            </form>

            <form action="/register", method="post">
                <input type="submit" name ="register" value="sign up">
            </form>-->
            <span style="float: left;margin-left: 10px;"><a href="{{url_for('logout')}}"><button type="button" class="btn btn-primary">Logout</button></a></span>
            <span style="float: right;margin-right: 10px;"><a href="{{url_for('increase_balance')}}"><button type="button" class="btn btn-primary">Add balance</button></a></span>
    </div>


                    <form action="/increase_balance" method="POST">
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" autocomplete="off" autofocus name="balance_amount" placeholder="Amount to add balance" required>
                        <input type="submit" name="add_balance" value="Add to balance">
                    </form>


{% endblock content %}