{% extends "login_layout.html" %}

{% block content %}
    <form action="/apply_for_donation" method="POST">
        <div class="input-group input-group-sm mb-3">
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" autocomplete="off" autofocus name="title" placeholder="Title" required>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" autocomplete="off" autofocus name="app_dura" placeholder="Required donation" required>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm "autocomplete="off" autofocus name="date" placeholder="Date of today" required>
        </div>
        <input type="submit" name="apply" value="Apply">
    </form>
    <form action="/apply_for_donation" method="POST">
        <div class="input-group input-group-sm mb-3">
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" autocomplete="off" autofocus name="disease" placeholder="Disease" required>
        </div>
        <input type="submit" name="add_disease" value="Add diseases">
    </form>

{% endblock content %}